
p {
  z-index: 1;
}

.wrapper {
  width:100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, .75);
  -webkit-animation: wave 15s infinite linear;
          animation: wave 15s infinite linear;
  }

@-webkit-keyframes wave {
  from { transform:  rotate(0deg) scale(1, .25);}
  from { transform: rotate(360deg) scale(1, .25);}
}

@keyframes wave {
  from { transform:  rotate(0deg) scale(1, .25);}
  from { transform: rotate(360deg) scale(1, .25);}
}
